# *.json
*.pt
*.pth
/image_video_object_tracking/output_dir
/image_video_object_tracking/my*
/image_video_object_tracking/equirectangular
/image_video_object_tracking/pcd
/image_video_object_tracking/output*
.vscode
/bag_annotation
/annotation_sam2
!devcontainer.json
/output_dir
/log
/rosbag_processing_script/data_extraction
/image_video_object_tracking/multicam_output
Python

pycache/
*.pyc
.env
.venv

Test & CI

test_output/
weights/

Data - NEVER commit data

*.pcd
*.jpg
*.json
*.txt
*.npy

OS

.DS_Store